<div class="banner_places" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(<%= @city.best_image ? @city.best_image :
'https://images.unsplash.com/Ys-DBJeX0nE.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80'%>);">
  <div class="wrapper_city_banner">
    <h1>
      <%= render 'components/your_trip_card', name: @city.name %>
    </h1>
  </div>
</div>
