<div class="banner_places" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @city.image %>);">
  <div class="wrapper_city_banner">
    <h1><%= @city.name %></h1>
  </div>
</div>
