<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://res.cloudinary.com/dc40q0fon/image/upload/v1574178039/city_image_zm1nc5.jpg);">
  <div class="container">
    <h1>Built for city travelers <br>Always know when and where do you want to be</h1>
    <a class="btn btn-flat" href="#">Search</a>
  </div>
</div>
