<div class="container p-3">
  <h1>Cities to visit</h1>
  <!-- First Row -->
<div class="d-flex justify-content-between mb-4">
  <div class="left-image-first">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523270805298-a339734e463e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
      Venice
    </div>
  </div>
  <div class="right-image-first">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80)">
      Paris
    </div>
  </div>
</div>

<!-- Second Row -->
<div class="d-flex justify-content-between mb-4">
  <div class="left-image-second">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523270805298-a339734e463e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
      Venice
    </div>
  </div>
  <div class="right-image-second">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80)">
      Paris
    </div>
  </div>
</div>
<!-- Copy paste more of first and second row to add more cities -->
</div>
<!-- Already put in container with heading -->
