<div class="footer">
  <div class="footer_cards">
    <div class="footer_card">
      <a href="">Discover Trabby</a><br>
      <a href="">About us</a><br>
      <a href="">Tips</a>
    </div>
    <div class="footer_card">
      <a href="">Help</a><br>
      <a href="">Contact</a><br>
      <a href="">FAQ</a><br>
      <a href="">Site map</a><br>
    </div>
    <div class="footer_card">
      <a href="">Take Trabby with you</a><br>
      <a href="">App store</a><br>
      <a href="">Google Play</a><br>
    </div>
  </div>
  <div class="footer_social">
    <div class="footer-links fab">
      <%= image_tag "https://res.cloudinary.com/dc40q0fon/image/upload/v1574175076/036-facebook_gr4vwm.png" %>
      <%= image_tag "https://res.cloudinary.com/dc40q0fon/image/upload/v1574175094/008-twitter_sva1h0.png" %>
      <%= image_tag "https://res.cloudinary.com/dc40q0fon/image/upload/v1574175106/029-instagram_b1psab.png" %>
    </div>

    <div class="footer-copyright">
      &copy; Trabby
    </div>
  </div>
</div>
