<div class="footer">
  <div class="footer-links fab">
    <%= image_tag "https://res.cloudinary.com/dc40q0fon/image/upload/v1574175076/036-facebook_gr4vwm.png" %>
    <%= image_tag "https://res.cloudinary.com/dc40q0fon/image/upload/v1574175094/008-twitter_sva1h0.png" %>
    <%= image_tag "https://res.cloudinary.com/dc40q0fon/image/upload/v1574175106/029-instagram_b1psab.png" %>
  </div>
  <div class="footer-copyright">
    &copy; Trabby
  </div>
</div>
