<footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h6 class="text-uppercase mb-4">Location</h6>
          <p class="lead mb-0">Calle de Juan de Mariana
            <br>15, 28045 Madrid, Spain</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h6 class="text-uppercase mb-4">Find us on the Web</h6>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h6 class="text-uppercase mb-4">About Trabby</h6>
          <p class="lead mb-0">Trabby is a free to use, built by
            <a href="https://www.lewagon.com/madrid">Le Wagon Madrid</a> Graduates ♥️ (Batch#311)</p>
        </div>

      </div>
    </div>
  </footer>

<section class="copyright py-4 text-center">
  <div class="container">
    <small>Copyright © Trabby 2019</small>
  </div>
</section>
