 <%= simple_form_for(@plan) do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date %>
          <div class="input btn"><%= f.button :submit, "New plan" %></div>
          </div>
  <% end %>
