 <%= simple_form_for(@activity) do |f| %>

              <%= f.input :start_time %>
              <%= f.input :end_time %>

          <div class="input btn"><%= f.button :submit, "Edit" %></div>
          </div>
  <% end %>
