    <!-- Call to plan the trip -->
    <div class="row mb-4">
      <div class="col-md-8">
        <h3>Tell us about your trip</h3>
        <p>You will see personalised ideas from other travellers like you.</p>
      </div>

      <% if current_user %>
        <div class="col-md-4">
          <%=link_to new_plan_path(city: params[:query]), method: :get do %>
            <button class="btn btn-lg btn-secondary btn-success">Plan your trip!</button>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-4">
          <button class="btn btn-lg btn-primary btn-block" type="button" data-toggle="modal" data-target="#myModal2">Get started - Sign up!</button>
        </div>
      <% end %>

    </div>

    <!-- /.row -->

    <hr>
