<!-- Call to plan the trip -->
<div class="">
  <h3 style="    margin-bottom: 14px;font-size: 35px;">Tell us about your trip to, <i class="highlighted highlighted-red"><%= params[:query].split(',').first %></i></h3>
  <h1 style="font-size: 22px; font-weight: 200;" class="sub-text">You will see personalised ideas from other travellers like you.</p>
  <% if current_user %>
    <%=link_to new_plan_path(city: params[:query]), method: :get do %>
      <button class="btn btn-lg btn-secondary btn-success">Plan your trip!</button>
    <% end %>
  <% else %>
    <button style="margin-top: 23px;" class="btn btn-lg btn-primary btn-block" type="button" data-toggle="modal" data-target="#myModal2">Get started - Sign up!</button>
  <% end %>
</div>
