<div class="places_card">
  <div class="your_trip_card card card-outline-info">
    <h2>Tell us about your trip</h2>
    <p>You will see personalised ideas from other travellers like you.</p>

    <% if current_user %>
    <%=link_to new_plan_path(city: params[:query]), method: :get do %>
        <div class="container"></div><button class ="btn btn-success" >Plan your trip!</button><div></div>
      <% end %>
    <% else %>
      <div class="col-md-4 text-center">
        <button class ="btn btn-primary center-block" >Get started - Sign up!</button>
      </div>
    <% end %>
    <a data-dismiss="alert" aria-label="Close" id="close_card">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
