// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// customer color scheme
$my-black: #24292E;
$my-green: #00CCBC;
$my-pink: #FFEAE4;
$my-grey: #434848;
$my-blue: #127AC5;
$my-gold: #F8C603;
