#pages_home {
  .sec-title {
    color: #2c3e507d;
    font-size: 26px;
  }
}

.pink-container {
  background: #2c3e500d;
}

.card-category {
  letter-spacing: 1px;
}

.light-blue {
   color: #2c3e50ad !important;
}

.dark-blue {
  color: #2c3e50;
}


.container_places {
  .info {
    margin: 0;
  }
}

.form-post .category-st {
  font-size: 20px;
  font-weight: 400;
}
