#pages_home {
  .sec-title {
    color: #636970;
    font-size: 35px;
  }
}

.container.p-3 {
  margin-top: 10px;
  margin-bottom: 50px;
  .center.sec-title {
    margin-bottom: 30px;
  }
}

.pink-container {
  background: #2c3e500d;
}

.card-category {
  letter-spacing: 1px;
}

.light-blue {
   color: #6D7883 !important;
}

.dark-blue {
  color: #2c3e50;
}


.container_places {
  .info {
    margin: 0;
  }
}

.form-post .category-st {
  font-size: 20px;
  font-weight: 400;
}
