.image_slide {
  width: 500px;
  background-color: rgba(0,0,0,0.1);
}

.place_info_wrapper {
  padding: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.place_main_info {
  p {
    font-size: 18px;
    font-weight: normal;
    .title {
      font-weight: bold;
    }
  }

  li {
    font-size: 18px;
    font-weight: normal;
  }
}
