.image_slide {
  width: 500px;
  background-color: rgba(0,0,0,0.1);
}
.place_side_info {
  width: 50%;
  img {
    width: 100%;
    margin: 0;
    border-radius: 5px;
  }
}
.place_info_wrapper {
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.place_main_info {
  width: 50%;
  p {
    font-size: 18px;
    font-weight: normal;
    color: #6c757d;
    .title {
      font-weight: bold;
      color:#1edd88;
    }
  }
  li {
    font-size: 18px;
    font-weight: normal;
    color: #6c757d;
  }
}
.title1{
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner_top {
  background-size: cover;
  background-position: center;
  max-height: 380px;
  height: 40vh;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .header {
    display: flex;
    font-size:35px;
  }
}
.icon_card {
  display: flex;
  color: #00CCBC;
  font-size: 19px;
  margin-top: 20px;
  i {
    margin-right: 15px;
    font-size: 25px;
  }
}

.place-info {
  display: flex;
  justify-content: space-around;
}

#purple {
  color: #00CCBC;
  &:hover, &:focus {
    border-color: #00CCBC;
    background: rgba(0,204,188,0.4);
  }
}
#white {
  color: white;
  background: #00000078;
  font-weight: bold;
  font-size: 16px;
  &:hover, &:focus {
    color: #00CCBC;
    border-color: #00CCBC;
  }
}
p {
  color: #6c757d
}
.font17 p {
  color: #6c757d;
  font-size: 17px;
}

.map-place {
  margin: 20px auto;
}

.info-header-place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.info-place {
  margin: 30px auto;
}

