<h6>Maja's test page</h6>
<div class="banner" >
  <div class="container-text-search">
    <h1>Do you want to get the best
      <a href="" class="typewrite" data-period="3000" data-type='[ "out of your trip?", "experience?", "personalized trip?"]'>
    <span class="wrap"></span>
      </a>
    </h1>
    <br>
    <h1>Trabby will help you plan it!</h1>
    <%= render 'components/search_city_bar' %>
  </div>
</div>
