.banner_places {
  background-size: cover;
  background-position: 50% 60%;
  padding: 50px 0;
    h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      text-shadow: 1px 3px 12px #000;
    }
}

.wrapper_city_banner {
  padding: 90px;
}

.highlighted {
  padding: 2px 15px 4px;
    font-style: normal;
    border-radius: 3px;
    text-shadow: none;
}

.highlighted-red {
       color: #f4f4f4;
    background: #f4f4f400;
    border: solid 1px #f4f4f4;
}

.highlighted-green {
        color: #2c3e50;
    background: #f4f4f4;
    border: solid 1px #2c3e50;
}

