<<<<<<< HEAD
=======
<<<<<<< HEAD

=======
>>>>>>> df7c677102c7042af9bfefd657fa6f99e31de614
>>>>>>> master
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #127AC5;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #195e91;
  color: white;
}
