.container-text-search{
  margin-left: -2%;
  max-width:80%;
}

.container-1{

  max-width:80%;
  background-color: red;
}

.pink-container {
height: 1227px;
width:100%;
left: 0px;
top: 1538px;
background: #FFEAE4;
}


.white-container{
width: 1440px;
height: 319px;
left: 0px;
top: 2765px;
background: #F7F7F7;
}

.center{
  text-align: center;
  padding-top:50px;
}
