.footer {
    background: #2c3e50;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    padding: 50px 50px;
    color: white;
    width: 100%;
    bottom: 0;
    bottom: 0pt;
    left: 0pt;
    background-attachment: scroll;
    background-position: 0% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $my-gold;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.fab img {
  width: 50px;
  margin-left: 5px;
  padding: 10px;
}

.footer_cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  margin-bottom: 20px;
}

.footer_card {
  background-color: rgba(100,100,100,0.5);
  height: 200px;
  width: 300px;
  text-align: center;
  padding: 30px;
  border-radius:5px;
}

.footer_card a{
  color:white;
}

.footer_social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  background-color: #1a252f;
  color: #C89C00;
  font-family: 'Roboto';
  font-size: 13px;
  letter-spacing: .08em;
  &:hover {
    color: #E5E5E5;
  }
}
