.footer {
  background: #24292E;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  padding: 0px 50px;
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 126px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $my-gold;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.fab img {
  width: 50px;
  margin-left: 5px;
  padding: 10px;
}
.footer-copyright {
  color: #C89C00;
  font-family: 'Roboto';
  font-size: 13px;

  letter-spacing: .08em;
  &:hover {
    color: #E5E5E5;
  }
}
