// Form design
.form-post {
  margin-top: 50px;
  padding: 10px;
  margin-bottom: 63px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }

}



.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #18b06c;

}


// Checkboxes design
.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  max-width: 894px;
  margin: auto;

}

.category-choice {
  padding: 20px;
  border: solid 1px #2c3e50;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $my-blue;
  color: white;
  opacity: 1;
  }
}

.hidden {
  display: none; }
