.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px !important;
  border: 1px solid rgba(100,100,100, 0.3);
  padding: 10px 15px 0 !important;
  h2{
    color: #2c3e50;
    margin: 10px 0 20px;
  }
  p {
    color: #6D7883;
  }
}

.mapboxgl-popup-close-button {
  color: #2c3e50;
}
