.navbar-lewagon {
  justify-content: space-between;
  background: #2c3e50;
  position: relative;
  z-index: 10;
  box-shadow: 0px 1px 8px #444444;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.button_class {
  transition: ease .5s all;
  background: transparent;
  display: flex;
  cursor: pointer;
  line-height: 24px;
  border: 1px solid;
  transition-timing-function: ease-out;
  color: #00CCBC;
  margin-right: 15px;
  height: 38px;
  align-items: center;
  padding: 1px 25px;
  border-radius: 4px;
  &:hover, &:focus {
    border-color: $btn-green;
    background: #00ffeb2b;
    transform: translateY(-4px);
    transform: scale(1.05);
  }
}

.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    border-color: #00ffeb;
    background: #00ffeb2b;
}

.dropdown-menu.dropdown-menu-right.show {
  button {
    text-align: center;
    color: #fff;
  }
    border-color: #00ffeb;
    background: white;
}

.button_text {
  color: #2c3e50;
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.navbar-brand {
  margin-left: -50px;;
}

.dropdown-item {
  &:active {
    background-color: #f8f9fa;
  }
}

a:hover{
  text-decoration: none;
  color:#B7EAE6;
}
