<div class="container">

  <div class="container center" style="height: 100px;">
    <div class="btn btn-flat">
      Export to Calendar
    </div>
    <div class="btn btn-flat" style="background: #00CCBC;">
      Export to E-mail
    </div>
  </div>


<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Day 1 -->
      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0" style="background-color: #E5E5E5; border-radius: 5px;
">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Saturday 30 November</h5>
            <hr>
            <ul class="fa-ul">

              <li id="activities">
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Musée du Louvre</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">The Louvre Museum is the world's largest art museum and a historic monument in Paris, France. In 2018, the Louvre was the world's most visited art museum, receiving 10.2 million visitors.</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">Rue de Rivoli , 75001 Paris</h2>
                </div>
              </li>

              <br>

              <li id="activities">
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Pizza Hut</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">Pizza Hut is an American restaurant chain and international franchise. The company is known for its Italian-American cuisine menu, including pizza and pasta, as well as side dishes and desserts.</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">29 Boulevard des Italiens, 75002 Paris</h2>
                </div>
              </li>

              <br>

              <li id="activities">
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Opéra de Paris</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">The Paris Opera is the primary opera and ballet company of France. It was founded in 1669 by Louis XIV as the Académie d'Opéra.</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">86 Rue de Provence, 75009 Paris</h2>
                </div>
              </li>

              <br>

              <li id="activities">
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">La Bellevilloise</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">Arts & cultural centre for exhibitions, film screenings, concerts & events, with a bright cafe.</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">19-21 Rue Boyer, 75020 Paris</h2>
                </div>
              </li>
              <br>
            </ul>
          </div>
        </div>
      </div>
      <!-- Day 2 -->
      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0" style="background-color: #E5E5E5; border-radius: 5px;
">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Sunday 1 December</h5>
            <hr>
            <ul class="fa-ul">

              <li>
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Musée d'Orsay</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">The Musée d'Orsay is a museum in Paris, France, on the Left Bank of the Seine. It is housed in the former Gare d'Orsay, a Beaux-Arts railway station built between 1898 and 1900. The museum holds mainly French art dating from 1848 to 1914, including paintings, sculptures, furniture, and photography.</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">1 Rue de la Légion d'Honneur, 75007 Paris</h2>
                </div>
              </li>

              <br>

              <li>
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Le Poulpry
</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">Great french cuisine!</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">12 Rue de Poitiers, 75007 Paris</h2>
                </div>
              </li>

              <br>

              <li>
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Musée de l'Orangerie</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">The Musée de l'Orangerie is an art gallery of impressionist and post-impressionist paintings located in the west corner of the Tuileries Gardens next to the Place de la Concorde in Paris.</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">Jardin Tuileries, 75001 Paris</h2>
                </div>
              </li>

              <br>

              <li>
                <div class="container" style="background: #fff; border-radius: 5px;">
                  <div>
                    <h2 style="font-weight: 500;font-size: 12px;line-height: 14px;color: #000000;">Flottes</h2>
                      <p style="font-size: 12px;line-height: 14px;color: #000000;">Great french restaurant</p>
                    </div>
                    <h2 style="font-size: 12px;line-height: 14px;color: #000000;">2 Rue Cambon, 75001 Paris</h2>
                </div>
              </li>
              <br>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
</div>


<h1 class="center">Add an event</h1>
<div class="row">
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Petit Palais
      </label>
  </div>
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Centre Pompidou
      </label>
  </div>
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Grand Palais
      </label>
  </div>
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Musée Grévin
      </label>
  </div>
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Musée Carnavalet
      </label>
  </div>
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Musée Rodin
      </label>
  </div>
  <div class="category-choices">
      <input class="hidden" type="checkbox" style="font-family: Roboto;font-style: normal;font-weight: bold;font-size: 14px;line-height: 16px;display: flex;align-items: center;text-align: center;">
      <label class="category-choice">
        Musée des arts décoratifs
      </label>
  </div>
</div>
